body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 432px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
    padding: 10px;
    
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
  Code for making a dropdown with same border width
.input-group select, input-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><path fill="none" stroke="%23aaa" stroke-width="1.5" d="M1 1l4 4 4-4"/></svg>') no-repeat right 10px center;
    background-color: #fff;
    background-size: 10px 5px;
    padding-right: 30px;
}
button {
    padding: 10px 25px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #024fa1;
}

#message {
    margin-top: 15px;
    color: red;
}

p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
